.image{
    background-image: url("copy-space-bokeh-spring-lights-background_52683-55649.avif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: rgb(4, 4, 4);
}